---
title: Javascript Calculator
---

<div id="calc-container">
  <table id="display-table">
    <tr>
      <td colspan="2" id="calc-display">0</td>
    </tr>
    <tr id="status-row">
      <td id="mem-display">(M)</td>
      <td id="op-display">(op)</td>
    </tr>
  </table>

  <br />

  <table id="buttons-table">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td id="btn-clearentry">CE</td>
      <td id="btn-clear">C</td>
    </tr>
    <tr>
      <td id="btn-mem-set">MS</td>
      <td id="btn-mem-add">M+</td>
      <td id="btn-mem-sub">M-</td>
      <td id="btn-mem-recall">MR</td>
      <td id="btm-mem-clear">MC</td>
    </tr>
    <tr>
      <td id="btn-7" data-intval="7">7</td>
      <td id="btn-8" data-intval="8">8</td>
      <td id="btn-9" data-intval="9">9</td>
      <td id="btn-percent">%</td>
      <td id="btn-sqrt">√</td>
    </tr>
    <tr>
      <td id="btn-4" data-intval="4">4</td>
      <td id="btn-5" data-intval="5">5</td>
      <td id="btn-6" data-intval="6">6</td>
      <td id="btn-sub">&#xff0d;</td>
      <td id="btn-div">÷</td>
    </tr>
    <tr>
      <td id="btn-1" data-intval="1">1</td>
      <td id="btn-2" data-intval="2">2</td>
      <td id="btn-3" data-intval="3">3</td>
      <td rowspan="2"  id="btn-add">+</td>
      <td  id="btn-mult">x</td>
    </tr>
    <tr>
      <td  id="btn-0" data-intval="0">0</td>
      <td  id="btn-decimal">.</td>
      <td  id="btn-neg">+/-</td>
      <td id="btn-equals">=</td>
    </tr>
  </table>
</div>